/*
!/Program
!/Reference
!/safe
!/train_yolo
!/.gitignore
safe/web/ui-website/node_modules/
safe/web/ui-website/dist/
safe/web/ui-website/dev-dist/
safe/web/ui-website/tsconfig.tsbuildinfo
.DS_Store
**/.DS_Store

